<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Reset Password</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"/>
    <link href="/css/main.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default" style="margin-top: 100px;">
                <div class="panel-heading">
                    <h3 class="panel-title">Reset Password</h3>
                </div>
                <div class="panel-body">
                    <div th:if="${message}" class="alert alert-success" th:text="${message}"></div>
                    <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>

                    <div th:if="${token}">
                        <form th:action="@{/password/reset}" method="post">
                            <input type="hidden" name="token" th:value="${token}"/>

                            <div class="form-group">
                                <label for="password">New Password</label>
                                <input type="password" class="form-control" id="password" name="password"
                                       placeholder="Enter new password" required minlength="6"/>
                            </div>

                            <div class="form-group">
                                <label for="confirmPassword">Confirm Password</label>
                                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                                       placeholder="Confirm new password" required minlength="6"/>
                            </div>

                            <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
                        </form>
                    </div>

                    <div th:unless="${token}">
                        <p>The password reset link is invalid or has expired.</p>
                        <a th:href="@{/password/forgot}" class="btn btn-default btn-block">Request New Reset Link</a>
                    </div>

                    <hr/>
                    <div class="text-center">
                        <a th:href="@{/index}">Back to Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
