<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head th:replace="common/header :: common-header"/>
<body roleId="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<head th:replace="common/header :: navbar"/>
<div class="container main">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Savings Account</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Search Transactions</h3>
                </div>
                <div class="panel-body">
                    <form th:action="@{/statement/savings/search}" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="startDate">Start Date</label>
                                    <input type="date" class="form-control" id="startDate" name="startDate"
                                           th:value="${startDate != null ? #dates.format(startDate, 'yyyy-MM-dd') : ''}"/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="endDate">End Date</label>
                                    <input type="date" class="form-control" id="endDate" name="endDate"
                                           th:value="${endDate != null ? #dates.format(endDate, 'yyyy-MM-dd') : ''}"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="type">Type</label>
                                    <select class="form-control" id="type" name="type">
                                        <option value="">All Types</option>
                                        <option value="Deposit" th:selected="${searchType == 'Deposit'}">Deposit</option>
                                        <option value="Withdraw" th:selected="${searchType == 'Withdraw'}">Withdraw</option>
                                        <option value="Transfer" th:selected="${searchType == 'Transfer'}">Transfer</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <input type="text" class="form-control" id="description" name="description"
                                           placeholder="Search description" th:value="${searchDescription}"/>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-search"></i> Search
                        </button>
                        <a th:href="@{/account/savingsAccount}" class="btn btn-default">Clear</a>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <h2>Savings Balance: </h2>
                        </div>
                        <div class="col-xs-6 text-right">
                            <h1><i class="fa fa-usd" aria-hidden="true"></i> <span
                                    th:text="${savingsAccount.accountBalance}">...</span></h1>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a th:href="@{/statement/savings}" class="btn btn-success btn-sm">
                        <i class="fa fa-download"></i> Download Statement
                    </a>
                    <span class="pull-right">Account #: <span th:text="${savingsAccount.accountNumber}"></span></span>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table id="example" class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
                <th>Post Date</th>
                <th>Description</th>
                <th>Type</th>
                <th>Status</th>
                <th>Amount</th>
                <th>Available Balance</th>
            </tr>
            </thead>
            <tbody>
            <tr data-th-each="savingsTransaction : ${savingsTransactionList}">
                <td data-th-text="${#dates.format(savingsTransaction.date, 'yyyy-MM-dd HH:mm')}">...</td>
                <td data-th-text="${savingsTransaction.description}">...</td>
                <td>
                    <span th:class="${savingsTransaction.type == 'Deposit' ? 'label label-success' :
                                      savingsTransaction.type == 'Withdraw' ? 'label label-warning' :
                                      'label label-info'}"
                          th:text="${savingsTransaction.type}"></span>
                </td>
                <td data-th-text="${savingsTransaction.status}">...</td>
                <td>$<span data-th-text="${#numbers.formatDecimal(savingsTransaction.amount, 1, 2)}">...</span></td>
                <td>$<span data-th-text="${#numbers.formatDecimal(savingsTransaction.availableBalance, 1, 2)}">...</span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<div th:replace="common/header :: body-bottom-scripts"/>
<script>
    $(document).ready(function () {
        $('#example').DataTable({
            "order": [[0, "desc"]]
        });
    });
</script>
</body>
</html>
